[defaults]
inventory = inventory/hosts.ini
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
display_skipped_hosts = false
retry_files_enabled = false
localhost_warning = false

[privilege_escalation]
become = true
become_method = sudo
